.containerPending{
    background:white;
    padding:.5rem 0;
    height:max-content;
    border-radius:10px;
    color:gray;
    margin-bottom:.5rem;
}

.containerPending__title{
    text-align:center;
    padding:.5rem 0;
    color:#008080;
    margin-bottom:.5rem;
}

.containerPending__date{
    width:100%;
    margin:0 auto;
    padding:.2rem 1rem;
    background:lightgray;
    color:#696969;
    text-align:left;
    font-size:.8rem;
    margin-bottom:.5rem;
}

.containerPending > p{
    width:90%;
    text-align:center;
    margin:0 auto;
    font-size:.8rem;

}